*{
    box-sizing: border-box;
    margin: 0;
}
body{
    background-color: black;
}
header{
    width: 100vw;
    height: 50px;
    text-align: right;
}
.b-gray{
    background-color: #4A4A4A;
    color: white;
    border-radius: 5px;
    border: transparent;
    padding: 5px;
    margin-top: 10px;
    margin-right: 4px;
    font-size: 11px;
}
main{
    width: 90vw;
    height: calc(100vh - 140px);
    margin: 0 auto;
    border-bottom: white dashed;
    display: flex;
    flex-wrap: wrap;
    justify-content: center;
    align-items: center;
}
.card{
    height: 100px;
    width: calc(100% / 7 );
    margin-bottom: 10px;
    margin-right: 5px;
    background-image: url(../img/640px-IMG_2124_Everest.jpg);
    background-size: cover;
    position: relative;
}
.mute{
    position: relative;
    top: 77px;
    font-size: 14px;
    background-color: rgba(53,53,53, .7) ;
    color: white;
}